<!DOCTYPE html>
<html>
<head lang="cn-zh">
  <meta charset="UTF-8">
  <title>仿iOS下拉选择</title>
  <link rel="stylesheet" href="../stylesheets/touchScroll.css"/>

  <script src="../javascript/mobile.js" defer="defer"></script>
  <script src="../javascript/main.js" defer="defer"></script>
</head>
<body>
<section>
  <div class="ts-btn">
    点击选择
  </div>
  <div class="ts-val">
    选择赋值
  </div>
  <div class="ts-fixed">
    <div class="title">
      <h4>请选择</h4>
      <p><span class="ts-cancel-btn">取消</span><span class="ts-sure-btn">确认</span></p>
    </div>
    <div class="content">
      <div class="hightline"></div>
      <div class="scroll 123">
        <p>12345</p>
        <p>2345</p>
        <p>345</p>
        <p>45</p>
        <p>56789</p>
        <p>6789</p>
        <p>789</p>
        <p>89</p>
      </div>
      <div class="scroll">
        <p>12345</p>
        <p>2345</p>
        <p>345</p>
        <p>45</p>
        <p>56789</p>
        <p>6789</p>
      </div>
    </div>
  </div>
</section>

</body>
</html>