@charset "utf-8";
/*公共标签样式*/
html {
  -webkit-text-size-adjust: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-size: 14px;
  font-family: "microsoft Yahei", "KaiTi";
  min-width: 1000px;
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0px;
  margin: 0;
}
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
select,
input,
img,
select {
  vertical-align: middle;
}
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  margin: 0px;
}
/* 清除浮动*/
.clear {
  clear: both;
}
section {
  width: 980px;
  margin: 0 auto;
}
section ul.piont li {
  display: inline-block;
}
