<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>给你们写个bug</title>
  <link rel="stylesheet" href="../stylesheets/greeting-card.css"/>
</head>
<body>
<!-- <ul class="mes-list">
  <li>
    <p class="diyige">
      这个是一个消息列表
    </p>
    <p class="dierge">
      <span>2016/05/25111111</span>
    </p>
  </li>
</ul> -->
<header>
  <div class="nav-main">自由贺卡</div>
</header>
<section>
  <div class="model wrap-l">
    <ul>
      <li>
        <input type="button" value="称呼" />
      </li>
      <li>
        <input type="button" value="内容一" />
      </li>
      <li>
        <input type="button" value="添加模块" />
      </li>
    </ul>
  </div>
  <div class="wrap-r">
    <div class="settings">
      <ul class="font-settings">
        <li>
          字体颜色
          <select name="font-color">
            <option selected="selected">字体颜色</option>
          </select>
        </li>
        <li>
          字号
          <select name="font-size">
            <option selected="selected">12</option>
          </select>
        </li>
        <li>
          <input type="button" value="加粗" name="model-b" />
        </li>
        <li>
          <input type="button" value="倾斜" name="model-i" />
        </li>
        <li>
          <input type="button" value="下划线" name="model-u" />
        </li>
      </ul>
      <ul class="state-settings">
        <li>
          宽度<input type="text" name="model-w" value="" />px
        </li>
        <li>
          高度<input type="text" name="model-h" value="" />px
        </li>
        <li>
          X<input type="text" name="model-x" value="" />px
        </li>
        <li>
          Y<input type="text" name="model-y" value="" />px
        </li>
      </ul>
    </div>

    <div class="content">
    
    </div>
  </div>
  
</section>


</body>
</html>