<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>给你们写个bug</title>
  <link rel="stylesheet" href="../stylesheets/greeting-card.css"/>
</head>
<body>
<!-- <ul class="mes-list">
  <li>
    <p class="diyige">
      这个是一个消息列表
    </p>
    <p class="dierge">
      <span>2016/05/25111111</span>
    </p>
  </li>
</ul> -->
<header>
  <div class="nav-main">自由贺卡</div>
</header>
<section>
  <div class="model wrap-l" id="model-rem">
    <ul>
      <li>
        <input type="button" id="addButton" value="添加模块" />
      </li>
      <li>
        <input type="button" id="removeButton" value="删除" disabled />
      </li>
    </ul>
  </div>
  <div class="wrap-r">
    <div class="settings" id="model-set">
      <ul class="font-settings">
        <li>
          字体颜色
          <select id="font-color" disabled="true">
            <option selected="selected">#000</option>
            <option selected="selected">#333</option>
            <option selected="selected">#666</option>
            <option selected="selected">#999</option>
            <option selected="selected">#ccc</option>
          </select>
        </li>
        <li>
          字号
          <select id="font-size" disabled="true">
            <option selected="selected">12</option>
            <option selected="selected">14</option>
          </select>
        </li>
        <li>
          <input type="button" value="加粗" id="model-b" disabled="true" />
        </li>
        <li>
          <input type="button" value="倾斜" id="model-i" disabled="true" />
        </li>
        <li>
          <input type="button" value="下划线" id="model-u" disabled="true" />
        </li>
      </ul>
      <ul class="state-settings">
        <!-- <li>
          宽度<input type="text" id="model-w" value="" />px
        </li>
        <li>
          高度<input type="text" id="model-h" value="" />px
        </li> -->
        <li>
          X<input type="text" id="model-x" value="" disabled="true" />px
        </li>
        <li>
          Y<input type="text" id="model-y" value="" disabled="true" />px
        </li>
        <li>
          内容<input type="text" id="model-text" value="" disabled="true" />
        </li>
      </ul>
    </div>

    <div class="content" id="model-box">
    <!-- 内容区域 -->
    </div>
  </div>
  
</section>

<footer style="width:960px; margin: 0 auto;">
  <p>实现自主添加模块，并且随意拖动、更改字体、字号、颜色功能</p>
  <p>待添加文字编辑等功能</p>
</footer>


<script src="../javascript/jquery/jquery.js"></script>
<script src="../javascript/main.js"></script>
</body>
</html>