footer{width:100%;}
.button-group{text-align: center; margin: 15px auto;}
.button-group button{
  width: 10%;
  min-width: 100px;
  padding: 5px;
  margin: 0 3px;
  background-color: #3598db;
  border:1px solid #297fb8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.button-group button:hover{background-color: #37a0e5; border-color: #3598db;}
#effect{text-align: center; padding: 10px; height: 400px; border: 1px solid #37a0e5;}

#effect div{float: left; margin:5px;}
.D{
position:relative;
top:12.5px;
left:10px;
border-left:solid 15px #000000;
height:125px;
}
.D:before{
position:absolute;
content:'';
top:0;
left:0;
width:60px;
height:95px;
border-width:15px 15px 15px 0;
border-color:#000000;
border-style:solid;
border-radius:0 300% 300% 0 / 0 180% 180% 0;
}

.E{
position:relative;
top:12.5px;
left:10px;
width:63px;
height:95px;
border-width:15px 0 15px 16px;
border-color:#000000;
border-style:solid;
}
.E:before{
position:absolute;
content:'';
top:38px;
left:0px;
width:53px;
height:15px;
background-color:#000000;
}

.H{
position:relative;
top:12.5px;
left:10px;
width:60px;
height:125px;
border-width:0 16px 0 16px;
border-color:#000000;
border-style:solid;
}
.H:before{
position:absolute;
content:'';
top:53px;
left:0;
width:60px;
height:14px;
background-color:#000000;
}

.L{
position:relative;
top:12.5px;
left:10px;
width:63px;
height:110px;
border-width:0 0 15px 16px;
border-color:#000000;
border-style:solid;
}

.O{
position:relative;
top:12.5px;
width:70px;
height:97px;
border-width:14px 16px 14px 16px;
border-color:#000000;
border-style:solid;
border-radius:55% /52%;
}

.R{
position:relative;
top:12.5px;
width:60px;
height:125px;
border-left:solid 16px #000000;
}
.R:before{
position:absolute;
left: 0;
content:'';
width:52px;
height:44px;
border-width:13px 15px 13px 0;
border-color:#000000;
border-style:solid;
border-radius:0 220% 220% 0 /0 180% 180% 0;
}
.R:after{
transform:skew(32deg,0);
position:absolute;
content:'';
bottom:0;
left:38px;
width:18px;
height:58px;
background-color:#000000;
}

.W{
position:relative;
top:12.5px;
width:100px;
}
.W:before{
transform:skew(11deg,0);
position:absolute;
content:'';
top:0;
left:0;
width:42px;
height:125px;
border-width:0 13px 0 15px;
border-color:#000000;
border-style:solid;
}
.W:after{
transform:skew(-11deg,0);
position:absolute;
content:'';
top:0;
right:0;
width:42px;
height:125px;
border-width:0 15px 0 13px;
border-color:#000000;
border-style:solid;
}
