footer{width:100%;}
.button-group{text-align: center; margin: 15px auto;}
.button-group button{
  width: 10%;
  min-width: 100px;
  padding: 5px;
  margin: 0 3px;
  background-color: #3598db;
  border:1px solid #297fb8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.button-group button:hover{background-color: #37a0e5; border-color: #3598db;}
#effect{text-align: center; padding: 10px; height: 400px; border: 1px solid #37a0e5;}
