<!DOCTYPE html>
<html>
<head lang="cn-zh">
  <meta charset="UTF-8">
  <title>html的打飞机</title>
  <link rel="stylesheet" href="../stylesheets/barrage.css"/>

  <script src="../javascript/jquery/jquery.js"></script>
  <script src="../javascript/main.js" defer="defer"></script>
  <script src="../javascript/mobile.js" defer="defer"></script>
  <!-- <script src="../javascript/moveto.js" defer="defer"></script> -->
</head>
<body>
<!-- 
<header>
  <div class="nav-main">HTML打飞机</div>
</header> -->
<section>
  <div class="shooter">
    <div class="battle-field" id="battle-field">
      <div class="score" id="score">000000000</div>
      <div class="testprint" id="testprint">000000000</div>
      <div class="lead" id="lead">
        <img src="../images/lead.png" alt="" class="lead-img" id="lead-img">
      </div>
      <div class="waiter" id="waiter">
        <input type="button" value="来吧！" id="waiter-set">
      </div>
    </div>
  </div>
</section>
<!-- 
<footer>
  <div class="content">
    <p>一个射击游戏</p>
    <p>痛快的打飞机吧！！！你懂的。</p>
    <p>目前是躲飞机游戏</p>
  </div>
</footer> -->
</body>
</html>