<!DOCTYPE html>
<html>
<head lang="cn-zh">
  <meta charset="UTF-8">
  <title>html的弹幕</title>
  <link rel="stylesheet" href="../stylesheets/barrage.css"/>
</head>
<body>

<header>
  <div class="nav-main">HTML弹幕</div>
</header>
<section>
  <div class="barrage">
    <div class="barrage-show" id="barrage-show">
    </div>
    <div class="say-box" id="say-box">
      <img src="../images/userhead.jpg" alt="" class="head-img" id="head-img">
      <input type="text" id="text-box">
      <input type="button" value="抢红包" id="button">
    </div>
  </div>
</section>

<footer>
  <div class="content">
    <p>基础弹幕功能，带有头像和内容</p>
    <p>真假弹幕两种方法</p>
  </div>
</footer>


<script src="../javascript/jquery/jquery.js"></script>
<script src="../javascript/main.js"></script>
</body>
</html>